
.app-Login{
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}
#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
button[type='submit']{
  display: inline-block;
  width: 100%;
  min-height: 100%;
}
.ant-checkbox-wrapper span{
  font-size: 12px;
}